@charset"utf-8";

/*aside*/
aside{
	 float:left;
	 height:480px;
	 width:200px; 
 }

.box{
	 width: 200px;
	 height: 160px;
	 font-size:100px;
	 background: #0CF;
 }

.box:hover{
	 background:#36F;
	 cursor:pointer;
 }

.ch_bg{
    background:#36F;
}

/*section*/
section{
	 float:left;
	 height:480px;
	 width:480px;
	 background:#ddd;
	 overflow: hidden;/*超出範圍的部分隱藏*/
 }

.big{
	width: 1440px;
}

.content{
	 position: relative;
	 float: left;
	 width:480px;
	 height:480px;
	 background:#F60;
 }

.yel{
	background: #FF0;
}

.pink{
	background: #F3C;
}


