
h1{
	padding-left: 200px;
	font-size: 40px;
}

article{
	float:left;
	width:100%;
	box-sizing:border-box;
	padding: 50px 200px 200px;
	background: #000;
}

.box{
	margin-bottom: 40px;
}

h2{
	color:#A3B5F3;
	font-size: 30px;
}

h3{
	color: #FD70AB;
	font-size: 20px;
}

p, li{
	color: white;
}

ul{
	margin-bottom: 30px;
}

a{
	text-decoration: underline;
	color: white;
}

img {
	width: 70%;
	margin-top: 10px;
	margin-bottom: 15px;
}
